.home {
    &__container {
        max-width: 70rem;
        margin: 0 auto;
        padding: 0 1rem;
    }

    &__addTask {
        gap: 0.5rem;
        display: flex;
        align-items: center;
        margin-top: -1.68rem;
        justify-content: space-between;
    }

    &__tasksHeader {
        display: flex;
        margin-top: 4.06rem;
        align-items: center;
        justify-content: space-between;

        h2 {
            gap: 1rem;
            color: $blue;
            display: flex;
            font-weight: 700;
            font-size: 0.875rem;
            align-items: center;
            line-height: 1.0625rem;
            justify-content: flex-start;
            font-family: 'Inter', sans-serif;

            &.textPurple {
                color: $purple;
            }

            span {
                font-size: 12px;
                color: $gray-200;
                padding: 2px 8px;
                line-height: 15px;
                border-radius: 999px;
                background: $gray-400;
                box-sizing: border-box;
            }
        }
    }

    &__tasks {
        padding: 64px 0;
        border-radius: 8px;
        margin-top: 1.5rem;
        border-top: 1px solid $gray-400;

        > div {
            &:not(:first-child) {
                margin-top: 0.75rem;
            }
        }
    }
}